PORT=4000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/saas_ai
JWT_SECRET=replace_me
OPENAI_API_KEY=replace_me
FRONTEND_URL=http://localhost:3000
UPI_BASE=upi://pay?pa=PPQR01.UTGOQA@iob&pn=Aatreyee%20Enterprise&am=
